#symbol_map {
  top: 20px;
  bottom: 100px;
  left: 100px;
  right: 100px;
}
h1 {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #333;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}
body {
  background-color: #c9c8c8;
}
